"*":
  "atom-beautify":
    _analyticsUserId: "d37d4d49-4d1b-41ef-8126-cd6a27f1ea80"
  "atom-ctags":
    extraTagFiles: "tags"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
  "atom-language-rust":
    colors:
      macro: "#96b5b4"
      token: "#8fa1b3"
  "atom-terminal-panel": {}
  build:
    panelVisibility: "Show on Error"
    saveOnBuild: true
    scrollOnError: true
  "build-cargo":
    backtraceType: "Compact"
    extCommands:
      cargoCheck: true
      cargoClippy: true
    openDocs: true
  "cargo-test-runner": {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "tidy-markdown"
      "clojure-eval-in-repl"
      "r-exec"
      "scala-worksheet"
      "atom-live-grammar-reload"
      "symbols-view"
      "nrepl"
      "open-terminal-here"
      "cargo-test-runner"
      "sbt"
      "wrap-guide"
      "linter-write-good"
      "typewriter"
      "docblockr"
      "rust-api-docs-helper"
      "tokamak"
      "language-rust"
      "linter"
      "atom-language-rust"
      "language-scala"
      "rustsym"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".gradle"
      ".idea"
      ".iml"
      ".ipr"
      ".iws"
      ".sublime-workspace"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
      "*racertmp*"
    ]
    projectHome: "/Users/eliza/Code"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "fairygloss"
    ]
    titleBar: "custom"
  docblockr:
    align_tags: "shallow"
    auto_add_method_tag: true
    deep_indent: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "Iosevka"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "255e7065-c317-52d7-dd5b-8b9a82ef3345"
  "gist-it": {}
  "git-plus":
    general:
      _analyticsUserId: "3987b4b2-c9a8-4200-b06f-5d9bcca4a6b8"
  "haskell-ghc-mod":
    ghcModPath: "/Users/eliza/.cabal/bin/ghc-mod"
  "ide-haskell": {}
  latex:
    enableShellEscape: true
    engine: "xelatex"
    opener: "preview"
    texPath: "/Library/TeX/Distributions/.DefaultTeX/Contents/Programs/texbin/"
  latexer: {}
  linter: {}
  "linter-chktex":
    executablePath: "/Library/TeX/Distributions/.DefaultTeX/Contents/Programs/texbin/chktex"
  "linter-rust":
    cargoCommand: "check"
    cargoPath: "/Users/eliza/.cargo/bin/cargo"
    jobsNumber: 4
    rustcBuildTest: true
    rustcPath: "/Users/eliza/.cargo/bin/rustc"
  "linter-scalac":
    scalacExecutablePath: "/usr/local/bin/scalac"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "linter-write-good": {}
  "markdown-preview": {}
  "markdown-preview-katex": {}
  "markdown-preview-opener": {}
  "markdown-preview-plus": {}
  "markdown-writer": {}
  "merge-conflicts": {}
  metrics:
    userId: "a7630cb430c5986364488e28ca0c77d2b0210374"
  minimap:
    useHardwareAcceleration: false
  "one-dark-ui":
    tabSizing: "Even"
  "open-terminal-here": {}
  "platformio-ide":
    showHomeScreen: false
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#657280"
        blue: "#8fa1b2"
        cyan: "#96b5b4"
        green: "#98be8d"
        magenta: "#b48fa8"
        red: "#c16069"
        white: "#c0c5ce"
        yellow: "#ebca8b"
      zBright:
        brightBlack: "#657280"
        brightBlue: "#8fa1b2"
        brightCyan: "#96b5b4"
        brightGreen: "#98be8d"
        brightMagenta: "#b48fa8"
        brightRed: "#c16069"
        brightYellow: "#ebca8b"
    core: {}
    iconColors:
      blue: "#8fa1b2"
      cyan: "#98be8d"
      green: "#98be8d"
      magenta: "#b48fa8"
      orange: "#f69d5c"
      red: "#c16069"
      yellow: "#ebca8b"
    style:
      fontFamily: "Pragmata Pro"
    toggles:
      autoClose: true
  "project-quick-open": {}
  racer:
    cargoHome: "/Users/eliza/.cargo/"
    rustSrcPath: "/usr/local/src/rust/src"
  "spell-check": {}
  "symbols-tree-view":
    autoHide: true
  tablr: {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "terminal-panel": {}
  tokamak:
    binaryDetection: false
    cargoHomePath: "/Users/eliza/.cargo/"
    rustcBinPath: "/Users/eliza/.cargo/bin/rustc"
    toolBinPath: "/Users/eliza/.cargo/bin/rustup"
  "tokamak-terminal":
    ansiColors:
      normal:
        black: "#657280"
        blue: "#8fa1b2"
        cyan: "#96b5b4"
        green: "#98be8d"
        magenta: "#b48fa8"
        red: "#c16069"
        white: "#c0c5ce"
        yellow: "#ebca8b"
      zBright:
        brightBlack: "#657280"
        brightBlue: "#8fa1b2"
        brightCyan: "#96b5b4"
        brightGreen: "#98be8d"
        brightMagenta: "#b48fa8"
        brightRed: "#c16069"
        brightYellow: "#ebca8b"
    iconColors:
      blue: "#8fa1b2"
      cyan: "#98be8d"
      green: "#98be8d"
      magenta: "#b48fa8"
      orange: "#f69d5c"
      red: "#c16069"
      yellow: "#ebca8b"
    style:
      fontFamily: "Pragmata Pro"
    toggles:
      autoClose: true
  "tool-bar":
    iconSize: "12px"
    visible: true
  "travis-ci-status":
    personalAccessToken: "96bfb2300560e726f0c2c9f19b482ec30eee5d6a"
    useTravisCiPro: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  typewriter:
    scopes: "text.md,source.gfm,text.html,mediawiki,text.tex.latex,text.tex.latex.beamer"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
  "wakatime-hidden":
    lastInit: 1485436107
  welcome:
    showOnStartup: false
".asm.source.x86_64":
  editor:
    tabLength: 4
".cabal.source":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".haskell.latex.tex.text":
  editor:
    preferredLineLength: 120
".haskell.source":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 120
".json.source":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    autoIndent: true
".processing.source":
  editor:
    tabLength: 2
".rust.source":
  editor:
    autoIndent: true
    preferredLineLength: 80
".scala.source":
  editor:
    preferredLineLength: 80
    tabLength: 2
".source.yaml":
  editor:
    preferredLineLength: 120
    tabLength: 2
"source.gfm":
  editor:
    softWrap: true
"text.latex.tex":
  editor:
    softWrap: true
